<section class="dashboard container">
  <div class="column d-flex justify-content-between">
    <h1>Your Dashboard</h1>
    <a class="btn btn-primary m-3" href="/dashboard/new">➕ New Post</a>
  </div>

  <section class="column posts">
    {{#each posts}}
      <article class="card mt-3">
        <div class="card-header d-flex justify-content-between">
          <h2>
            {{title}}
          </h2>
          <div class="d-flex flex-column justify-content-between">
            <a href="/dashboard/edit/{{id}}" class="btn btn-primary">✏ Edit</a>
            <div>
              Posted on:
              {{format_date createdAt}}
            </div>
          </div>

        </div>
        <div class="card-body">
          {{text}}
        </div>
      </article>
    {{/each}}
  </section>
</section>