<div class="container">
  <section class="card my-3">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <form
      id="login-form"
      class="card-body d-flex flex-column align-items-center"
    >
      <div class="d-flex mt-3">
        <label for="username-login" style="width: 80;">Username:</label>
        <input type="text" id="username-input" />
      </div>
      <div class="d-flex mb-3">
        <label for="password-login" style="width: 80;">Password:</label>
        <input type="password" id="password-input" />
      </div>
      <div>
        <button
          type="submit"
          id="login-btn"
          class="btn btn-primary my-3"
        >Login</button>
      </div>

    </form>
    <P class="ps-5">If you are new <a href="/signup">Sign Up Here!</a></P>
  </section>
</div>

<script src="/js/login.js"></script>